.about-us {
  margin-bottom: 54px;
}

@media (max-width: (@tablet-width - 1px)) {
  .about-us .container {
    padding: 0 30px;
  }
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  margin-left: -3px;
}

.about-us__list {
  .list-reset;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.about-us__item {
  padding-top: 60px;
  margin-bottom: 23px;

  &--eco {
    position: relative;

    &::before {
      content: "";

      width: 32px;
      height: 37px;
      background-image: url("../img/icon-feature-flower.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      bottom: 59px;
      left: 8px;
    }
  }

  &--style {
    position: relative;

    &::before {
      content: "";

      width: 47px;
      height: 27px;
      background-image: url("../img/icon-feature-money.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      bottom: 67px;
      left: 0;
    }
  }

  &--likes {
    position: relative;

    &::before {
      content: "";

      width: 34px;
      height: 27px;
      background-image: url("../img/icon-feature-heart.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      bottom: 62px;
      left: 7px;
    }
  }

  &--hand {
    position: relative;

    &::before {
      content: "";

      width: 35px;
      height: 34px;
      background-image: url("../img/icon-feature-ball.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      bottom: 58px;
      left: 3px;
    }
  }

  &--home {
    position: relative;

    &::before {
      content: "";

      width: 55px;
      height: 23px;
      background-image: url("../img/icon-feature-rocket.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      bottom: 68px;
      left: -7px;
    }
  }

  &--package {
    position: relative;

    &::before {
      content: "";

      width: 33px;
      height: 32px;
      background-image: url("../img/icon-feature-gift.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      bottom: 61px;
      left: 3px;
    }
  }
}

@media (min-width: @tablet-width) {
  .about-us {
    margin-bottom: 45px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;

    margin-bottom: 27px;
    margin-left: -4px;
  }

  .about-us__list {
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item {
    padding-top: 75px;
    margin-bottom: 37px;

    &--eco::before {
      bottom: 60px;
      left: 9px;
    }

    &--style::before {
      bottom: 70px;
      left: 1px;
    }

    &--likes::before {
      bottom: 66px;
      left: 8px;
    }

    &--hand::before {
      bottom: 60px;
    }

    &--home::before {
      bottom: 71px;
      left: -6px;
    }

    &--package::before {
      bottom: 65px;
    }
  }

  .about-us__wrapper {
    display: flex;
  }

  .about-us__list--left,
  .about-us__list--right {
    width: 334px;
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    margin-bottom: 47px;
  }

  .about-us .container {
    padding-left: 225px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list--left,
  .about-us__list--right {
    width: 350px;
  }

  .about-us__item {
    margin-bottom: 36px;
  }
}
