.about-us {
  margin-bottom: 54px;
}

@media (max-width: (@tablet-width - 1px)) {
  .about-us .container {
    padding: 0 30px;
  }
}

.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;

  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  margin-left: -3px;
}

.about-us__list {
  .list-reset;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.about-us__item {
  padding-top: 60px;
  margin-bottom: 23px;

  &--eco {
    position: relative;

    &::before {
      content: "";

      width: 32px;
      height: 37px;
      background-image: url("../img/icon-feature-flower.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      top: 5px;
      left: 8px;
    }
  }

  &--style {
    position: relative;

    &::before {
      content: "";

      width: 47px;
      height: 27px;
      background-image: url("../img/icon-feature-money.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      top: 6px;
      left: 0;
    }
  }

  &--likes {
    position: relative;

    &::before {
      content: "";

      width: 34px;
      height: 27px;
      background-image: url("../img/icon-feature-heart.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      top: 11px;
      left: 7px;
    }
  }

  &--hand {
    position: relative;

    &::before {
      content: "";

      width: 35px;
      height: 34px;
      background-image: url("../img/icon-feature-ball.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      top: 8px;
      left: 3px;
    }
  }

  &--home {
    position: relative;

    &::before {
      content: "";

      width: 55px;
      height: 23px;
      background-image: url("../img/icon-feature-rocket.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      top: 9px;
      left: -7px;
    }
  }

  &--package {
    position: relative;

    &::before {
      content: "";

      width: 33px;
      height: 32px;
      background-image: url("../img/icon-feature-gift.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      top: 7px;
      left: 3px;
    }
  }
}

@media (min-width: @tablet-width) {
  .about-us {
    margin-bottom: 45px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;

    margin-bottom: 27px;
    margin-left: -4px;
  }

  .about-us__list {
    font-size: 20px;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__item {
    padding-top: 75px;
    margin-bottom: 37px;
    width: 334px;

    &--eco {
      order: 0;

      &::before {
        top: 21px;
        left: 9px;
      }
    }

    &--style {
      order: 2;

      &::before {
        top: 22px;
        left: 1px;
      }
    }

    &--likes {
      order: 4;

      &::before {
        top: 26px;
        left: 8px;
      }
    }

    &--hand {
      order: 1;

      &::before {
        top: 25px;
      }
    }

    &--home {
      order: 3;

      &::before {
        top: 25px;
        left: -6px;
      }
    }

    &--package {
      order: 5;

      &::before {
        top: 22px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .about-us {
    margin-bottom: 47px;
  }

  .about-us .container {
    padding-left: 225px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__item {
    width: 350px;
    margin-bottom: 36px;
  }
}
