.catalog-card__link {
  color: #000000;
}

.catalog-card__title {
  font-family: "Opensansbold", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;

  margin: 0;
  padding: 0;
}

.catalog-card__description {
  font-size: 13px;
  line-height: 30px;
  color: #444444;

  margin: 0;
  padding: 0;
}

.catalog-card__price {
  font-family: "Opensansbold", Arial, sans-serif;
  font-weight: 700;

  margin: 0;
  padding: 0;
}
