.catalog-card__link {
  color: @black;
  display: block;
}

.catalog-card__image {
  display: block;
}

.catalog-card__title {
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  padding: 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-card__description {
  font-size: 13px;
  line-height: 30px;
  color: @gray;
  margin: 0;
  padding: 0;

  margin-bottom: 20px;
}

.catalog-card__price {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.catalog-card__link--title {
  margin-bottom: 4px;
}

.catalog-card__box {
  padding: 26px 26px 27px 27px;
  border: 1px solid @light-gray;
  position: relative;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog-card__to-cart-button {
  display: block;
  opacity: 0.2;

  &:hover {
    fill: @light-green;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-card__row {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  border-top: 1px solid @light-gray;
}

@media (min-width: @tablet-width) {
  .catalog-card {
    display: flex;
  }

  .catalog-card__box {
    width: 334px;
    padding-bottom: 26px;
    padding-top: 25px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
  }

  .catalog-card__title {
    font-size: 20px;
  }

  .catalog-card__description {
    font-size: 15px;
    margin-bottom: 0;
  }

  .catalog-card__row {
    margin-top: auto;
    padding-left: 3px;
  }

  .catalog-card__price {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-card {
    flex-direction: column;
  }

  .catalog-card__box {
    width: 316px;
    min-height: 197px;
    padding-right: 32px;
    padding-bottom: 25px;
    flex-grow: 1;
  }

  .catalog-card__row {
    padding-left: 0;
    padding-top: 22px;
  }

  .catalog-card__link--title {
    margin-bottom: 5px;
  }
}
