.contacts {
  line-height: 30px;
  margin-bottom: 39px;
}

@media (max-width: (@tablet-width - 1px)) {
  .contacts .container {
    width: 100%;
  }
}

.contacts .container {
  position: relative;

  &::before {
    content: "";
    width: 67px;
    height: 100px;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    bottom: 303px;
    left: calc((100vw - 60px)/2);
    z-index: 2;
  }
}

.contacts__wrapper {
  padding: 0 30px;
  margin: 0 auto;
  width: 320px;
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  margin-bottom: 26px;
  margin-left: -3px;
}

.contacts__email,
.contacts__adress {
  margin: 0;
  color: @gray;
  display: flex;
}

.contacts__email {
  margin-bottom: 29px;
}

.contacts__row {
  margin-bottom: 533px;
}

.contacts__email span,
.contacts__adress span {
  width: 78px;
}

.contacts__adress span:nth-child(2) {
  width: 145px;
}

.contacts__email a {
  color: @gray;
  border-bottom: 1px solid @light-green;

  &:hover {
    color: @light-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map iframe,
.contacts__map img {
  position: absolute;
  top: 274px;
  left: 0;
}

.contacts__map iframe {
  width: 100%;
  z-index: 3;
  border: none;
}

.contacts__map img {
  display: block;
  z-index: 1;
  left: calc((100vw - 340px)/2);
}

@media (min-width: @tablet-width) {
  .contacts {
    margin-bottom: 57px;
  }

  .contacts .container {
    width: 100%;
    padding: 0;

    &::before {
      bottom: 325px;
    }

    &::after {
      content: "";
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      top: -15px;
      right: calc((100vw - 679px)/2);
    }
  }

  .contacts__wrapper {
    padding: 0;
    padding-left: calc((100vw - 690px)/2);
    margin: 0;
    width: auto;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
  }

  .contacts__row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 568px;
  }

  .contacts__email,
  .contacts__adress {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__email {
    width: 334px;
  }

  .contacts__adress span:nth-child(2) {
    width: 230px;
  }

  .contacts__button-write-us {
    margin: 0;
    margin-left: 221px;
    width: 230px;
  }

  .contacts__map iframe,
  .contacts__map img {
    top: 245px;
    left: 0;
  }

  .contacts__map img {
    width: 768px;
    left: calc((100vw - 788px)/2);
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    margin-bottom: 106px;
  }

  .contacts .container {
    width: 1150px;
    padding: 0 50px;
    padding-left: 225px;
    display: flex;
    justify-content: space-between;

    &::before {
      top: 146px;
      left: 814px;
    }

    &::after {
      top: 62px;
      left: 113px;
    }
  }

  .contacts__wrapper {
    padding: 0;
    padding-top: 70px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;

    margin-left: -6px;
    margin-bottom: 49px;
  }

  .contacts__row {
    flex-direction: column;
    margin-bottom: 79px;
  }

  .contacts__button-write-us {
    margin: 0;
  }

  .contacts__map {
    position: relative;
    width: 525px;
  }

  .contacts__map iframe,
  .contacts__map img {
    top: 0;
    left: 0;
    width: 525px;
  }
}
