.nav {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.nav__top-row {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid @light-gray;
  box-shadow: inset 0 1px 0 0 @light-gray;
}

.nav__button-menu {
  background-color: @white;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: 30px 28px;

  width: 81px;
  height: 78px;
  padding: 0;
  border: none;
  align-self: flex-end;

  cursor: pointer;
}

.nav__button-menu.active {
  background-image: url("../img/icon-menu-close.svg");
}

.nav__button-menu.no-js {
  display: none;
}

.nav__logo {
  display: block;
  padding: 22px 37px 22px 116px;

  &:hover:not(.nav__logo--active) {
    opacity: 0.6;
  }

  &:active:not(.nav__logo--active) {
    opacity: 0.3;
  }
}

.nav__logo-image {
  display: block;
}

.nav__list {
  .list-reset;
  display: none;
  flex-direction: column;

  &--bottom {
    display: none;
  }
}

.nav__list.no-js {
  display: flex;
}

.nav__list.js-menu-close {
  display: none;
}

.nav__list.js-menu {
  display: flex;
}

.nav__item {
  border-bottom: 1px solid @light-gray;

  &--cart a {
    position: relative;
  }

  &--cart svg {
    position: absolute;
    top: 31px;
    left: 30px;
    fill: @black;
    opacity: 0.2;
  }
}

.nav__item--cart:hover svg {
  fill: @light-green;
  opacity: 1;
}

.nav__item--cart:active svg {
  fill: @light-green;
  opacity: 0.3;
}

.nav__delivery {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;

  margin: 0;
  display: none;
}

.nav__item a {
  color: @black;

  display: block;
  padding: 26px 0 28px 76px;
  margin: 0 auto;
  width: 320px;

  &:hover {
    color: @black-hover;
  }

  &:active {
    color: @black-active;
  }
}

.nav__item--active a {
  &:hover,
  &:active {
    color: @black;
  }
}

.nav__search-input {
  font-size: 17px;
  line-height: 24px;

  padding: 27px 43px 27px 76px;
  border: none;
}

.nav__search-form {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.nav__search-form svg {
  position: absolute;
  top: 32px;
  left: 32px;
  fill: @black;
  opacity: 0.2;
}

.nav__item--search:hover svg {
  fill: @light-green;
  opacity: 1;
}

.nav__item--search:active svg,
.nav__item--search:focus svg {
  fill: @light-green;
  opacity: 0.3;
}

.nav__search-input:-ms-input-placeholder {
  color: @black;
  font-weight: 700;
  opacity: 1;
}

.nav__search-input::-webkit-input-placeholder {
  color: @black;
  font-weight: 700;
  opacity: 1;
}

.nav__search-input::-moz-placeholder {
  color: @black;
  font-weight: 700;
  opacity: 1;
}

.nav__search-input:hover:-ms-input-placeholder {
  opacity: 0.6;
}

.nav__search-input:hover::-webkit-input-placeholder {
  opacity: 0.6;
}

.nav__search-input:hover::-moz-placeholder {
  opacity: 0.6;
}

.nav__search-input:focus:-ms-input-placeholder {
  opacity: 0.3;
}

.nav__search-input:focus::-webkit-input-placeholder {
  opacity: 0.3;
}

.nav__search-input:focus::-moz-placeholder {
  opacity: 0.3;
}

.nav__search-input:active::-webkit-input-placeholder {
  opacity: 0.3;
}

.nav__search-input:active::-moz-placeholder {
  opacity: 0.3;
}

.nav__search-input:active:-ms-input-placeholder {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav__top-row {
    display: block;
    border-bottom: none;
    box-shadow: none;
  }

  .nav__item a {
    margin: 0;
    width: auto;
  }

  .nav__button-menu {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    flex-wrap: wrap;

    &.js-menu-close {
      display: flex;
    }

    &--left {
      order: 1;
    }

    &--right {
      border: none;
      margin-left: auto;
    }
  }

  .nav__logo {
    padding: 22px 0 20px;
    border: none;

    box-shadow: none;
  }

  .nav__logo-image {
    width: 112px;
    height: 46px;
  }

  .nav__item {
    border: none;

    &--search {
      width: 84px;
      border-left: 1px solid @light-gray;
      border-right: 1px solid @light-gray;
      cursor: pointer;
    }
  }

  .nav__search-input {
    display: none;
  }

  .nav__item--cart a {
    padding: 32px 0 32px 83px;
  }

  .nav__item--catalog a,
  .nav__item--form a {
    font-size: 15px;

    width: 167px;
    padding: 18px 0;
  }

  .nav__delivery {
    display: block;
    order: 2;
    margin-left: auto;
    padding-top: 18px;
  }

  .nav__search-form svg {
    top: 37px;
    left: 33px;
  }

  .nav__item--cart svg {
    top: 34px;
    left: 31px;
  }
}

@media (min-width: @desktop-width) {
  .nav__list {
    &--left {
      order: 0;
    }

    &--right {
      order: 2;
    }

    &--bottom {
      order: 3;
      display: flex;
    }
  }

  .nav__top-row {
    order: 1;
  }

  .nav__logo {
    padding: 9px 0 7px;
  }

  .nav__logo-image {
    width: 148px;
    height: 73px;
  }

  .nav__delivery {
    order: 4;
  }

  .nav__item--catalog a {
    width: 185px;
    padding: 32px 0;
    border-right: 1px solid @light-gray;
    font-size: 17px;
  }

  .nav__item--form a {
    width: auto;
    padding: 32px 75px 32px 35px;
    font-size: 17px;
  }

  .nav__item--new-goods a {
    width: 186px;
    padding: 17px 0;
    font-size: 15px;
  }

  .nav__item--sale a {
    width: auto;
    padding: 17px 75px 17px 32px;
    font-size: 15px;
  }

  .nav__item--cart a {
    padding-left: 85px;
  }
}
