.nav {
  &__list {
    .list-reset;
  }

  &__item a {
    color: #000000;
  }

  &__search-input {
    padding: 0;
    border: none;
  }

  &__search-input::placeholder {
    color: #000000;
    font-weight: 700;
  }
}
