.social {
  &__list {
    .list-reset;
    width: 141px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.social__link--insta svg {
  display: block;
  fill: @icon-social;

  &:hover {
    fill: @logo-green;
  }

  &:active {
    fill: @logo-green;
    opacity: 0.3;
  }
}

.social__link--facebook svg {
  display: block;
  fill: @icon-social;

  &:hover {
    fill: @logo-green;
  }

  &:active {
    fill: @logo-green;
    opacity: 0.3;
  }
}

.social__link--twitter svg {
  display: block;
  fill: @icon-social;

  &:hover {
    fill: @logo-green;
  }

  &:active {
    fill: @logo-green;
    opacity: 0.3;
  }
}
