.social {
  &__list {
    .list-reset;
    width: 141px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-left: -4px;
  }
}

.social__item {
  // position: relative;
}

.social__link--insta::before {
  content: "";
  width: 22px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  // position: absolute;
  // top: 10px;
  // left: 12px;
}

.social__link--facebook::before {
  content: "";
  width: 15px;
  height: 28px;
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  // position: absolute;
  // top: 10px;
  // left: 12px;
}

.social__link--twitter::before {
  content: "";
  width: 23px;
  height: 20px;
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  // position: absolute;
  // top: 10px;
  // left: 12px;
}
