.video {
  margin-bottom: 57px;
}

@media (max-width: (@tablet-width - 1px)) {
  .video .container {
    padding: 0 30px;
  }
}

.video .container {
  position: relative;
}

.video__description {
  display: flex;
  flex-direction: column;

  border: 1px solid @light-gray;
  padding: 33px;
  padding-top: 25px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video__title {
  font-size: 17px;
  font-weight: 700;

  margin: 0;
  padding-left: 57px;
  margin-bottom: 200px;
  position: relative;

  &::before {
    content: "";

    width: 32px;
    height: 32px;
    background-image: url("../img/icon-video.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 5px;
  }
}

.video__text {
  color: @gray;
  font-size: 13px;

  margin: 0;
  margin-bottom: 25px;
}

.video__box {
  position: absolute;
  left: 30px;
  top: 97px;
}

.video__box img {
  display: block;
}

.video__play-button {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 101px;
  height: 77px;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 38px);
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.video__button-make-an-order {
  width: 192px;
}

@media (min-width: @tablet-width) {
  .video {
    margin-top: -1px;
    margin-bottom: 63px;
  }

  .video__box {
    position: static;
  }

  .video__play-button {
    top: 189px;
  }

  .video__description {
    padding: 38px 42px 45px 42px;
  }

  .video__title {
    font-size: 20px;

    margin-bottom: 32px;
    padding-left: 63px;

    &::before {
      top: -5px;
    }
  }

  .video__text {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
    margin-left: -2px;
  }

  .video__button-make-an-order {
    width: 584px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    margin-bottom: 106px;
  }

  .video .container {
    display: flex;
  }

  .video__description {
    width: 370px;
    padding: 95px 57px 58px 80px;
  }

  .video__title {
    padding-left: 0;

    &::before {
      top: -54px;
    }
  }

  .video__text {
    margin-bottom: 47px;
  }

  .video__button-make-an-order {
    width: 230px;
  }

  .video__play-button {
    left: 341px;
  }
}
